@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

body {
  font-family: "Muli", sans-serif;
}

.center {
  border: 5px solid #87b8ea;
  margin: auto;
  width: 50%;
  padding: 10px;
}

#rcorners1 {
  border-radius: 25px;
  padding: 20px;
}

h1,
h2 {
  text-align: center;
}

header {
  background-color: #87b8ea;
  color: white;
}

#result {
  word-wrap: break-word;
  font-weight: 900;
}

.btn {
  padding: 0.5em 0.75em;
  background: #d6d6d6;
  border-radius: 6px;
  cursor: pointer;
  user-select: none;

  &:hover {
    background: #126577;
  }

  &:active {
    background: #126577;
  }
}

.flex-parent-element {
  display: flex;
  width: 50%;
  border: 0;
}

.flex-child-element {
  flex: 1;
  border: 2px solid #87b8ea;
  margin: 10px;
  text-align: center;
  background-color: #87b8ea;
  color: white;
  font-weight: 900;
}

.flex-child-element:first-child {
  margin-right: 20px;
}

.title {
  padding-bottom: 30px;
  padding-top: 30px;
}
.strength {
  text-align: center;
}

.password {
  text-align: center;
  height: 50px;
}

.slidecontainer {
  border: 0;
  font-weight: 900;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px;
  background: #87b8ea;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04aa6d;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04aa6d;
  cursor: pointer;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #2196f3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.options {
  border: 0;
}

.options > p {
  font-weight: 900;
}

.container {
  font-size: 19px;
}
